*{
      font-family: "Poppins", sans-serif !important;
}
.fondoOscuro{
    background-color: rgb(0 0 0 / 50%);
}

/* Header */
header{
    background-image: url(../img/headerBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;

    position: relative;
}
.logoNavbar,.header-h2,.header-p{
    font-weight: 600;
    color: #fff;
}
.logoNavbar span{
    color: #FFCC00;
}
.btn-navbar-background{
    background-color: #fff;
}

.header-h2{
    font-size: 1.5rem;
}
.header-p{
    font-size: 0.875rem;
}